<template>
    <div style="display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 100vh;">
        <div>
            <h1 style="border: 2px solid green;
                        text-align: center;
                        font-size: 42px;">Home Page</h1>
            <div style="display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        margin: 10px auto;">
                <table>
                    <thead style="border: 1px solid green;">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody style="border: 1px solid green;">
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
    <div v-for="zone in zones" :key="zone.id">
        <div :style="{
            position: 'absolute',
            top: `${zone.position_top}px`,
            left: `${zone.position_left}px`,
            width: `${zone.width}px`,
            height: `${zone.height}px`,
            backgroundColor: 'rgba(50, 205, 50, 0.5)',
            border: '1px solid #000',
            margin: '240px'
        }"
        @mouseover="zone.hover = true"
        @mouseout="zone.hover = false"
        @click="editZone(zone)">
            <div v-show="zone.hover">{{ zone.name }}</div>
        </div>
    </div>
</div>
            <div style="margin: 20px auto;
                text-align: center;" v-if="editingZone">
                <h2 style="font-size: 24px;">Change Area</h2>
                <form @submit.prevent="submitForm">
                    <label>
                        Name :
                        <input type="text" v-model="form.name" />
                    </label>
                    <label>
                        Position top :
                        <input type="number" v-model="form.position_top" />
                    </label>
                    <label>
                        Position left :
                        <input type="number" v-model="form.position_left" />
                    </label>
                    <label>
                        Height:
                        <input type="number" v-model="form.width" />
                    </label>
                    <label>
                        Width :
                        <input type="number" v-model="form.height" />
                    </label>
                    <button style="margin-left: 24px;" type="submit">Save</button>
                    <button style="margin-left: 24px;" type="button" @click="cancelEdit">Cancel</button>
                </form>
            </div>
        </div>
        <div style="text-align: center; margin-bottom: 100px;">
            <a style="border: 4px solid green; font-size: 42px;" href="./">Cancel</a>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        user: Object,
        zones: Array
    },
    data() {
        return {
            editingZone: null,
            form: {
                name: '',
                position_top: 0,
                position_left: 0,
                width: 0,
                height: 0
            }
        };
    },
    methods: {
        editZone(zone) {
            this.editingZone = zone;
            this.form.name = zone.name;
            this.form.position_top = zone.position_top;
            this.form.position_left = zone.position_left;
            this.form.width = zone.width;
            this.form.height = zone.height;
        },
        cancelEdit() {
            this.editingZone = null;
        },
        submitForm() {
            this.$inertia.put(`/zones/${this.editingZone.id}`, this.form)
                .then(response => {
                    console.log(response);

                    this.editingZone = null;
                })
                .catch(error => {
                    console.error(error);
                });
        }
    }
};
</script>
