<script setup>
import { Head, Link } from '@inertiajs/vue3';
import MainButton from '@/Components/DesignSystem/Buttons/MainButton.vue';
import Header1 from '@/Components/DesignSystem/Typo/Header1.vue';
import Header3 from '@/Components/DesignSystem/Typo/Header3.vue';
import Header4 from '@/Components/DesignSystem/Typo/Header4.vue';
import HomepageImage from '@/Components/GraphicRessources/Images/HomepageImage.vue';


defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
    laravelVersion: String,
    phpVersion: String,
});

</script>

<template>
    <Head title="Homepage Pangaia" />

        <div v-if="canLogin" class="sm:fixed sm:top-0 sm:right-0 p-6 text-right">
            <Link v-if="$page.props.auth.user" :href="route('dashboard')"
                class="font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500">
            Dashboard</Link>

            <!-- TODO : Commenting this out.... 
            <template v-else>
                <Link :href="route('login')"
                    class="font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500">
                Log in</Link>

                <Link v-if="canRegister" :href="route('register')"
                    class="ml-4 font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500">
                Register</Link>
            </template>
            Still needs to be cleaned though...-->
        </div>

        <section class="flex items-center justify-center">
            <div class="items-center">
                <div class="flex justify-center">
                    <div>
                        <Header-3 class="text-center">Bienvenue sur</Header-3>
                        <Header-1 class="   text-center">Pangaia</Header-1>
                        <Header-4 class="flex text-center">Un outils qui connecte les humains et la nature ! </Header-4>
                    </div>
                </div>
                <div class="flex justify-center image-size">
                    <HomepageImage class="my-20"></HomepageImage>
                </div>
                <div>
                    <MainButton routename="dashboard">Demo</MainButton>
                    <MainButton routename="register">Inscription</MainButton>
                    <MainButton routename="login">Connexion</MainButton>
                </div>
            </div>
        </section>


</template> 

<style scoped>
section {
    width: 98vw;
    height: 98vh;
}

.image-size {
    max-width: 30vw;
}

@media screen and (max-width:530px) {
    .image-size {
        max-width: 90vw;
    }

    @media screen and (max-width:530px) {
        .image-size{
        min-width: 90vw;
        }

    }
}
</style>
